@use '../../styles/vars';

.header {
  padding: vars.$halfGutter vars.$gutter;
  box-shadow: 0 20px 20px -30px rgba(0,0,0,.4); 
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    width: 50px;
    filter: invert(92%) sepia(0%) saturate(30%) hue-rotate(130deg) brightness(106%) contrast(106%);
    background-color: #6303ff;
    border-radius: 10px;
    padding: 5px;
  }
}
